:root {
    --border-radius: 20px;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.business-card {
    max-width: 500px;
    margin: 20px auto;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    z-index: 2;
    text-align: left;
    /* padding-left: 30px; */
    padding-bottom: 1.5vh;
}

.wave-header {
    z-index: 1;
    border-radius: 15px;
    min-height: 12rem;
    width: 500px;

    background: rgb(63, 94, 251);
    background: -moz-linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 95, 1) 77%);
    background: -webkit-linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 95, 1) 77%);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 95, 1) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc465f", GradientType=1);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 30px; */
}

.contact-info {
    margin: 20px;

}

.contact-info i {
    display: inline-block;
    width: 40px;
    /* Make the circles larger */
    height: 40px;
    /* Make the circles larger */
    background-color: #0079FF;

    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}




.user-info {
    margin: 20px;
    z-index: 2;
    position: relative;
    border-left: 1px dashed gray;
    /* Add a line on the left */
    padding-left: 20px;
    line-height: 1.2rem;
    /* Add space between the line and the text */
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
}


.card-header h1 {
    margin: 0;
    font-size: 1.5em;
}

.icons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-circle {
    background: rgb(63, 94, 251);
    background: -moz-linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 95, 1) 77%);
    background: -webkit-linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 95, 1) 77%);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 95, 1) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc465f", GradientType=1);

    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
}

.icon-circle i {
    font-size: 1.5em;
}

.name {
    font-size: 1.8em;
    font-weight: bold;
    margin: 10px 0;
}





.fa {
    margin-right: 5px;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
}

.job-title {
    font-size: 1.2em;
    color: #666;
}

.company {
    font-size: 1.2em;
    color: green !important;
    ;
}

.company,
.company-name {
    font-size: 1em;
    color: #999;
}

.contact-info p {
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.contact-info p:hover {
    background-color: #f0f0f0;
    margin-bottom: 0.5em;
    margin-left: 2px;
}

.contact-info p:focus,
.contact-info p.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #0079FF;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

.button:hover {
    background-color: #0056b3;
}

